<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <form>
          <div class="form-group">
            <label for="date">Name</label>
            <input class="form-control" name="name" [(ngModel)]="keyword.name">
          </div>
        <button 
          (click)="salvar($event.target.value)" 
          class="btn btn-primary" 
          (mouseover)="mousePassou()"
          (mouseout)="mousePassou()"
          [style.font-size]="mouseOver ? '30px' : '20px'">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
